<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/main_layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<div layout:fragment="content" class="container mt-4">
    <div  class="offset-md-3 col-md-6">
        <form th:action="@{/login}" method="get">
            <button type="Submit" class="btn btn-info btn-block">Go To Login Page</button>
        </form>

        <!--  this alert will be shown only if redirected from add product page and the product was successfully created.  -->
        <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${successMessage}">
            <strong>Success!</strong> <span th:utext="${successMessage}"></span>.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <form autocomplete="off" action="#" th:action="@{/registration}"
              th:object="${user}" method="post">
            <h3>Registration Form</h3>
            <br/>

            <div class="form-group">
                <input type="text" th:field="*{username}" placeholder="Username" class="form-control"/>
                <label th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-danger"></label>
            </div>

            <div class="form-group">
                <input type="password" th:field="*{password}" placeholder="Password" class="form-control"/>
                <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger"></label>
            </div>

            <div class="form-group">
                <input type="email" th:field="*{email}" placeholder="Email" class="form-control"/>
                <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></label>
            </div>


            <div class="form-group">
                <select th:field="*{role.id}" class="form-control">
                    <option th:text="Buyer" th:value="3"/>
                    <option th:text="Seller" th:value="2"/>
                </select>
                <label th:if="${#fields.hasErrors('role')}" th:errors="*{role}" class="text-danger"></label>
            </div>

            <button name="Submit" value="Register" type="Submit" class="btn btn-primary btn-block"
                    th:text="Register"></button>

        </form>
    </div>
</div>
</body>
</html>