<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout/main_layout}" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns:layout="http://www.w3.org/1999/xhtml"+
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add product</title>
</head>
<body>
<div layout:fragment="content" class="container mt-4">

    <h3>Delete product</h3>

    <div class="row">

        <form th:action="@{/seller/products/delete}" th:object="${product}" method="post" class="col-lg-5 offset-lg-3 col-md-6 ofsset-md-4">
            <input type="hidden" th:field="*{id}">
            <h1>Are you sure?</h1>
            <div class="form-group">
                <input type="submit" value="Yes" class="btn-block">
                <a th:href="@{/seller/myproducts}" class="btn btn-primary btn-block mt-3">Go Back to safty!</a>
            </div>
        </form>


    </div>

</div>
</body>
</html>