<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="col-12 col-sm-3" th:fragment="ad">
    <div class="card bg-light mb-3">
        <div class="card-header bg-success text-white text-uppercase"><small>Ads By Google</small></div>
        <div class="card-body">
            <img src="https://thumbs.gfycat.com/AstonishingComplexAmericanlobster-size_restricted.gif" alt="ad" width="100%" height="550px">
        </div>
    </div>
</div>

</body>
</html>