<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout/main_layout}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="UTF-8">
    <title>Order confirmation</title>
</head>
<body>
<div layout:fragment="content" class="container mt-4">

    <div class="jumbotron text-xs-center">
        <h1 class="display-3">Thank You!</h1>
        <p class="lead"><strong>Please print your order</strong>. <a th:href="@{/createPdf}"><img th:src="@{/img/pdf.png}" height="50" width="70"></a></p>
        <hr>
        <p><b>Id:</b><span>1234</span></p>
        <p><b>Product(s):</b></p>
        <ul>
            <li>product 1, price: <b>1234</b></li>
            <li>product 2, price: <b>321</b></li>
            <li>product 3, price: <b>423</b></li>
        </ul>
        <p><b>Points used:</b><span>100</span></p>
        <h4>Total: <span>120$</span></h4>
        <p>
            Having trouble? <a href="">Contact us</a>
        </p>
        <p class="lead">
            <a class="btn btn-primary btn-sm" href="https://bootstrapcreative.com/" role="button">Continue to homepage</a>
        </p>
    </div>

</div>
</body>
</html>